body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}

.content {
  width: 90vw;
}

.store-container {
  padding-bottom: 10vw;
}

.store-container.label {
  text-align: left;
  font-size: 5.5vw;
  padding-left: 1.5vw;
  padding-bottom: 1vw;
  font-weight: bold;
  color: #191919;
  border-bottom: solid 0.3vw #191919;
}

.floor-container {
  font-size: 5.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3vw;
  gap: 24vw; /* 아이템 사이 간격 */
}

.floor-label {
  min-width: 13vw; /* '층' 텍스트를 기준으로 정렬할 최소 넓이 */
  text-align: right; /* 오른쪽 정렬 */
}

.floor-status {
  flex: 1; /* 나머지 공간을 채우는 유연한 영역 */
  text-align: center;
  position: relative;
  color: #AA8B4D;
}

.floor-status strong {
  margin-left: auto; /* '어퍼하우스'의 마지막 글자를 기준으로 정렬 */
  margin-right: auto; /* '대기 1팀' 혹은 '바로입장'을 중앙에 배치 */
}

.floor-status::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* 글자 높이의 절반 */
  background-color: #E5DCC8;
  z-index: -1; /* 텍스트 뒤로 보내기 */
}

.contact {
  width: 4.5vw;
  height: 5.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('icon/call.png');
  filter: invert(6%) sepia(31%) saturate(0%) hue-rotate(12deg) brightness(99%) contrast(93%);
}

.reload {
  width: 5.5vw;
  height: 5.5vw;
  float: right;
  margin-bottom: 2vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('icon/reload.png');
  filter: invert(96%) sepia(9%) saturate(534%) hue-rotate(341deg) brightness(91%) contrast(98%);
}

.rotating {
  animation: rotate-right 0.5s linear;
	transform-origin: 50% 50%;
}

.list-container {
  clear: both
}

/* 너비가 500px 이상일 때 반응형을 멈추고 고정 크기 적용 */
@media (min-width: 500px) {
  .content {
    width: 450px;
  }

  .store-container {
    padding-bottom: 50px;
  }

  .store-container.label {
    font-size: 27.5px;
    padding-left: 7.5px;
    padding-bottom: 5px;
    border-width: 1.5px;
  }

  .floor-container {
    font-size: 27.5px;
    padding-top: 15px;
    gap: 120px;
  }

  .floor-label {
    min-width: 65px;
  }

  .contact {
    width: 22.5px;
    height: 27.5px;
  }

  .reload {
    width: 27.5px;
    height: 27.5px;
    margin-bottom: 10px;
  }
}

@keyframes rotate-right {
	to {
		transform: rotate(360deg);
	}
}