body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
}
.content {
  width: 90vw;
}
.title-queue, .title-call {
  text-align: left;
  font-size: 4vw;
  margin-bottom: 2vw;
  padding-left: 1.5vw;
  font-weight: bold;
  color: #191919;
}
.title-call {
  margin-top: 5vw;
}
.button-queue-container, .button-call-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw; /* 버튼 간의 간격을 화면 너비에 따라 설정 */
  width: 90vw;
}
.button-queue-container a, .button-call-container a  {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #f0f0f0;
  color: #AA8B4D          ;
  font-size: 4.5vw;
  font-weight: bold;
  padding: 5vw 2vw;
  border-radius: 3vw;
  transition: background-color 0.3s;
}

.store-container {
  padding-bottom: 10vw;
}

.store-container.label {
  text-align: left;
  font-size: 5.5vw;
  padding-left: 1.5vw;
  padding-bottom: 1vw;
  font-weight: bold;
  color: #191919;
  border-bottom: solid 0.3vw #191919;
}

.floor-container {
  font-size: 5.5vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3vw;
  gap: 24vw; /* 아이템 사이 간격 */
}

.floor-label {
  min-width: 13vw; /* '층' 텍스트를 기준으로 정렬할 최소 넓이 */
  text-align: right; /* 오른쪽 정렬 */
}

.floor-status {
  flex: 1; /* 나머지 공간을 채우는 유연한 영역 */
  text-align: center;
  position: relative;
  color: #AA8B4D;
}

.floor-status strong {
  margin-left: auto; /* '어퍼하우스'의 마지막 글자를 기준으로 정렬 */
  margin-right: auto; /* '대기 1팀' 혹은 '바로입장'을 중앙에 배치 */
}

.floor-status::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* 글자 높이의 절반 */
  background-color: #E5DCC8;
  z-index: -1; /* 텍스트 뒤로 보내기 */
}

.contact {
  width: 5.5vw;
  height: 5.5vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('icon/call.png'); /* 전화기 아이콘 이미지 경로 */
}

/* 너비가 500px 이상일 때 반응형을 멈추고 고정 크기 적용 */
@media (min-width: 500px) {
  .content {
    width: 450px;
  }
  .button-queue-container, .button-call-container {
    width: 450px;
    gap: 10px;
  }
  .button-queue-container a, .button-call-container a {
    font-size: 22.5px;
    padding: 25px 10px;
    border-radius: 15px;
  }
  .title-queue, .title-call {
    font-size: 20px;
    padding-left: 7.5px;
    margin-bottom: 10px;
  }
  .title-call {
    margin-top: 25px;
  }

  .store-container {
    padding-bottom: 50px;
  }

  .store-container.label {
    font-size: 27.5px;
    padding-left: 7.5px;
    padding-bottom: 5px;
    border-width: 1.5px;
  }

  .floor-container {
    font-size: 27.5px;
    padding-top: 15px;
    gap: 120px;
  }

  .floor-label {
    min-width: 65px;
  }

  .contact {
    width: 27.5px;
    height: 27.5px;
  }
}